.header {
    display: flex;
    padding: 10px;
    font-size: 1rem;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    text-align: center;
    background: #333;

    nav {
        ul {
            display: block;
            text-align: center;

            li {
                display: inline-block;
                padding: 10px 20px;

                a {
                    color: #fff;
                }
            }
        }
    }
}